*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #ffffff;
}
/* .main:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */
nav{
    top: 0;
    display: block;
    z-index: 1000;
    position: sticky;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbarDiv{
    /* margin: 0px 200px; */
    padding-left: 110px;
    padding-right: 110px;
    background-color: #fff;
    /* margin-top: 20px; */
    height: 100px;
    display: flex;
    /* gap: 300px; */
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */

}
.anchor a{
    text-decoration: none;
    color: black;
    margin-right: 30px;
    cursor: pointer;
}
.navButton{
    height: 50px;
    width: 170px;
    color: #fff;
    background-color: #4caf4f;
    border: 0px;
    border-radius: 5px;
    font-size: 16px;
}
i{
    margin-left: 5px;
}
.navLogo{
    height: 50px;
}
.mainDiv1{
    margin-top: 20px;
    background-color: #f5f7fa;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.h-1{
    margin-bottom: 20px;
    font-size: 80px;
    font-weight: bold;
    color: #4d4d4d;
}.h-2{
    margin-bottom: 20px;
    font-size: 80px;
    font-weight: bold;
    color: #4caf4f;
}
.p1{
    margin-top: 30px;
    font-size: 20px;
    color: #717171;
}
.registermain1{
    margin-top: 50px;
    height: 50px;
    width: 150px;
    color: #fff;
    background-color: #4caf4f;
    border: 0px;
    border-radius: 5px;
    font-size: 16px;
}
.dots{
    margin-top: -30px;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.dot1{
    color: #4caf4f;
}
.dot2{
    color: #c2e1c7;
}
.mainDiv2{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.h-3{
    font-size: 50px;
    font-weight: bold;
    color: #4d4d4d;
    margin-top: 30px;
    margin-bottom: 10px;
}
.p2{
    /* margin-top: 30px; */
    font-size: 20px;
    color: #717171;
}
.logosBar{
    display: flex;
    justify-content: space-around;
}
.logosBar img{
    margin-top: 40px;
    height: 45px;
    padding-left: 75px;
    padding-right: 75px;
}
.h-4{
    font-size: 50px;
    font-weight: bold;
    color: #4d4d4d;
    margin-top: 70px;
    margin-bottom: 10px;
    text-align: center;
}
.cards:hover{
    box-shadow: 0 4px 8px 0 #4d4d4d, 0 6px 20px 0 #4caf4f;
    transition: 0.1s ease-in;
}
button:hover{
    box-shadow: 0 4px 8px 0 #4d4d4d, 0 6px 20px 0 #4caf4f;
    transition: 0.1s ease-in;
}
a:hover{
    color: #278a2a;
    transition: 0.1s;
}
.cardsDiv{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cards .img{
    margin-top: 90px;
    scale: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -30px;
}
.h-5{
    font-size: 40px;
    font-weight: bold;
    color: #4d4d4d;
    margin-top: 70px;
    margin-bottom: 10px;
    text-align: center;
}
.p3{
    /* margin-top: 30px; */
    font-size: 18px;
    text-align: center;
    color: #717171;
}
.cards{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 25%;
    margin-top: 30px;
    padding-bottom: 20px;
}
.mainDiv3{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 200px;
}
.h-6{
    font-size: 50px;
    font-weight: bold;
    color: #4d4d4d;
    margin-top: 70px;
    margin-bottom: 30px;
    /* text-align: center; */
}
.p4{
    /* margin-top: 30px; */
    font-size: 20px;
    /* text-align: center; */
    color: #717171;
}
.mainDiv4{
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    margin-bottom: 100px;
}
.h-7{
    font-size: 60px;
    font-weight: bold;
    color: #4d4d4d;
}
.h-8{
    font-size: 60px;
    font-weight: bold;
    color: #4caf4f;
}
.p5{
    font-size: 28px;
}
.main4pics{
    scale: 0.5;
}
.main4sub{
    display: flex;
    align-items: center;
}
.paymentdiv{
    margin-left: -30px;
}
.p-numbers{
    font-size: 40px;
    font-weight: bold;
    color: #717171;
}
.p-element{
    color: #717171;
}
.mainDiv5{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
}
.main5pic{
    scale: 1.2;
}
.h-9{
    font-size: 50px;
    font-weight: bold;
    color: #4d4d4d;
    margin-bottom: 25px;
}
.p6{
    color: #717171;
    font-size: 130%;
    margin-bottom: 45px;
}
.mainDiv6{
    margin-top: 70px;
    background-color: #f5f7fa;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
}
.handp{
    margin-left: 0%;
}
.main6pic{
    /* scale: 2; */
    height: 360px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 80px;

}
.p7{
    /* margin-top: 40px; */
    color: #4d4d4d;
    font-size: 20px;
    margin-bottom: 30px;
}
.p8{
    color: #4caf4f;
    font-size: x-large;
    margin-bottom: 30px;
}
.main6pics{
    display: flex;
    align-items: center;
    background-color: #f5f7fa;
    gap: 30px;
}
.main6p{
    font-size: larger;
    color: #278a2a;
}
.mainDiv7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.h-10{
    color: #4d4d4d;
    font-size: 50px;
    font-weight: 600;
}
.p9{
    color: #717171;
    text-align: center;
    margin-top: 25px;
    font-size: 22px;
}
.sub7{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 150px;
    /* align-items: center; */
}
.sub7pics{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    z-index: -1;
}
.innerDivsub7{
    margin: 0 auto;
    text-align: center;
    background-color: #f5f7fa;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
    border-radius: 5px;
    margin-top: -80px;  
    z-index: 10;
    position: relative;
}
.innerDivsub7p{
    font-size: 22px;
    font-weight: 500;
    color: #717171;
    margin-bottom: 20px;
}
.mainDiv8{
    margin-top: 100px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #f5f7fa;
}
.p10{
    color: #263238;
    font-weight: 600;
    font-size: 80px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.mainDiv9{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #263238;
}

.footerLogo{
    margin-top: 80px;
    margin-bottom: 30px;
    height: 55px;
}

.sub9{
    display: flex !important;
    flex-direction: row !important;
}
.sub9-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.sub9-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.sub9-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.footerp{
    font-size: medium;
    color: #f5f7fa;
    line-height: 25px;
    text-align: left;
    margin-left: -50px;
    margin-bottom: 5px;
}
.footerp2{
    margin-left: 50px !important;
}
.footersites{
    display: flex;
    scale: 1.5;
    gap: 10px;
    margin-top: 30px;
}
.footersites div{
    background-color: #3c464c;
    padding: 10px;
    padding-left: -10px;
    padding-right: 15px;
    border-radius: 50%;
    margin-bottom: 50px;
}
.footersites div i{
    color: #fff;
}
.footerph{
    color: #fff;
    font-size: xx-large;
    position: relative;
    margin-bottom: 30px;
}
.ph1{
    margin-left: -50px;
}
.ph2{
    text-align:right;
}
.ph3{
    margin-top: -95px !important;
}
.emailInput{
    color: #ffffff;
    font-size: 16px;
    background-color: #515b60;
    padding: 10px;
    border-radius: 15px;
    height: 50px;
    width: 300px;
}
.emailInput::placeholder{
    color: #d9dbe1;
}
.emailSend{
    color: #fff;
    margin-left: -30px;
}